<!DOCTYPE html>
<html>
    <head><title>Package</title></head>
    <body>
        <center>
            <h1>Package</h1>
            <a href="/">Home</a>
            <a href="/online_booking">Booking</a>
            <a href="/media">Gallery</a>
            <a href="/contact_us">Contact Us</a>
        </center>
        <br />
        <br />
        <div>
            <ul>
                <li><a href="/details?package=rock-climb">Rock Climbing</a></li>
                <li><a href="/details?package=water-sport">Water Sport</a></li>
                <li><a href="/details?package=jump">Jumping Adventure</a></li>
                <li><a href="/details?package=para-gliding">Para Gliding</a></li>
            </ul>
            <br />
            <a href="http://localhost:1234/download_packages?file=output/packages.gz">Download Packages</a>
        </div>
    </body>
</html>
